<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Meditación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="meditacion-background">
  <div class="meditacion-container">
    <h2 class="meditacion-title">Relajación Guiada</h2>

    <ion-card class="meditacion-card">
      <ion-card-content>
        <p class="meditacion-text">
          Escucha esta meditación para calmar tu mente y reducir el estrés.
        </p>
        <ion-button expand="block" (click)="reproducirAudio()">
          Reproducir Audio
        </ion-button>

        <ion-button expand="block" color="medium" routerLink="/home">
          Volver a Inicio
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #usadosParaCompilador>
    <ion-header></ion-header>
    <ion-toolbar></ion-toolbar>
    <ion-title></ion-title>
  </ng-template>
</ion-content>