<ion-content class="emociones-background">
  <div class="emociones-container">
    <h2 class="emociones-title">¿Cómo te sientes hoy?</h2>

    <ion-list class="emociones-list">
      <ion-item *ngFor="let emocion of emociones" class="emocion-item" (click)="seleccionarEmocion(emocion)">
        <ion-label>{{ emocion }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-button class="volver-button" expand="block" routerLink="/home">
      Volver al Menú
    </ion-button>
  </div>
</ion-content>