<ion-content class="historial-background">
  <div class="historial-container">
    <h2 class="historial-title">Historial de Actividades</h2>

    <ion-list class="historial-list">
      <ion-item *ngFor="let actividad of historial" class="historial-item">
        <ion-label>
          <h3>{{ actividad.actividad }}</h3>
          <p>{{ actividad.fecha }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-button expand="block" class="volver-button" routerLink="/home">
      Volver al Menú
    </ion-button>
  </div>
</ion-content>