<ion-content class="foro-background">
  <div class="foro-container">
    <h2 class="foro-title">Foro de Bienestar</h2>

    <ion-item class="foro-item">
      <ion-label position="floating">Escribe tu mensaje</ion-label>
      <ion-textarea autoGrow [(ngModel)]="nuevoMensaje"></ion-textarea>
    </ion-item>

    <ion-button expand="block" class="foro-button" (click)="publicarMensaje()">
      Publicar
    </ion-button>

    <ion-list class="foro-lista">
      <ion-item *ngFor="let publicacion of publicaciones">
        <ion-label>{{ publicacion }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-button expand="block" class="volver-button" routerLink="/home">
      Volver al Menú
    </ion-button>
  </div>
</ion-content>