<ion-content class="ajustes-background">
  <div class="ajustes-container">
    <h2 class="ajustes-title">Ajustes</h2>

    <ion-item class="ajustes-item">
      <ion-label>Notificaciones</ion-label>
      <ion-toggle slot="end" [(ngModel)]="notificaciones" color="primary"></ion-toggle>
    </ion-item>

    <ion-button expand="block" class="ajustes-button" (click)="guardarCambios()">
      Guardar cambios
    </ion-button>

    <ion-button expand="block" class="ajustes-volver-button" routerLink="/home">
      Volver a Inicio
    </ion-button>
  </div>
</ion-content>